* {
	margin: 0;
	padding: 0;
}

:root {
    --lightgrey: #f2f2f2;
    --blue: #0065fc;
	--lightblue: #DEEBFF;
	--grey:#D9D9D9;
	--radius: 20px;
}

body {
	font-family: 'Raleway', sans-serif;
	display: flex;
	justify-content: center;
}

#bloc {
	width: 100%;
	max-width: 1354px;
}

.menu a:visited, .column_footer a:visited, .hébergement a:visited, .logements_p a:visited, .activité a:visited .afficher_plus a:visited {
	color: black;
}

.signup a:visited {
	color: var(--blue);
}

.encadre_loge:hover, .les_plus_pop:hover, .activités_mars:hover {
	transform: scale(1.05);
	box-shadow: 5px 5px 10px rgb(177 177 177 / 20%);
}

a {
	text-decoration: none;
}

h3 {
	font-size: 15px;
}

p, li, .filter_name {
	font-size: 14px;
}

.img {
	background-size: cover;
	background-position: center;
}
.encadre_loge em, .les_plus_pop em {
	font-weight: bolder;
	font-style: initial;
}

/***************************************header*******************************************/
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#logo {
	width: 100px;
	padding: 35px 0 0 50px;
}

.navh {
	display: flex;
	flex-direction: row;
}
nav {
    display: flex;
    align-items: center;
	padding-top: 19px;
}

nav ul {
	display: flex;
}

nav li, nav a {
	list-style: none;
	color: black;
}

.menu a {
	padding: 40px 34px 0 34px;
	border-top: solid 2.5px transparent;
}

.menu a:hover {
	color:  var(--blue);
	border-top: solid 2.5px var(--blue);
}

.inscrire {
	display: flex;
	color: var(--blue);
	font-weight: bold;
	padding: 41px 20px 0 25px;
	margin-right: 58px;
	border-top: solid 2.5px transparent;
}

.inscrire:hover {
	color: var(--lightblue);
	border-top: solid 2.5px var(--lightblue) ;
}

/************************************recherche***********************************/
#recherche {
	padding: 50px 0px 30px 50px;
}

.recherche_ville {
	display: flex;
	flex-direction: row;
	margin: 20px 0 30px 0;
}

#recherche_titre {
	font-size: 20px;
	padding-bottom: 10px;
}

#mapmarker {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	font-size: 20px;
	border-radius: 15px 0 0 15px;
	background-color: var(--lightgrey)
}
.recherche_ville form {
	display: flex;
	flex-direction: row;
}

#search {
	height: 50px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
	font-size: 15px;
	border: solid 1px var(--lightgrey);
	padding: 15px;
}

::placeholder {
	color: black;
}

#search:focus {
	border-color:var(--blue);
	outline: var(--blue);
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 125px;
	height: 50px;
	background-color: var(--blue);
	border-radius: 0 15px 15px 0;
	color: white;
	border: none;
	font-family: 'Raleway', sans-serif;
	font-size:15px;
	font-weight: bolder;
	cursor: pointer;

}

.button i {
	visibility: hidden;
	width: 0;
}
.button:hover {
	transform: scale(1.05);
}
/*search's filters*/
.filtres input[type="checkbox"] {
    display: none;
}

.filtres {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

 .filtres form {
	 display: flex;
	 flex-flow: row wrap;
 }

.filtres h3 {
	margin-bottom: 30px;
}

.filtres label {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 35px;
    cursor: pointer;
}

.filtres .fas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -25px;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    color: var(--blue);
    background-color: var(--lightblue);
    z-index: 2;
}

.filtres label:hover span {
    transform: scale(1.05);
	background-color: var(--lightblue);
}

.filtres label:hover .fas  {
	border-left: 0.1px solid var(--blue);
	background-color: var(--blue);
	color: var(--lightblue);
	transform: scale(1.05);
}

.filtres input[type="checkbox"]:checked + label > .fas {
    color: var(--lightblue);
    border-color: var(--lightblue);
    background-color: var(--blue);
}

.filtres span {
    display: flex;
	align-items: center;
	padding: 10px 20px 10px 35px;
    border-top: 2px solid var(--grey);
    border-right: 2px solid var(--grey);
    border-bottom: 2px solid var(--grey);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
	font-size: 15px;
	font-weight: bolder;
}

.filtres input[type="checkbox"]:checked + label > span {
    background-color: var(--lightblue);
	color: var(--blue);
	border: 2px inset var(--blue);
}

.info {
    display: flex;
    align-items: center;
}

.info .fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    color: var(--blue);
    font-size: .8rem;
    border: 1px solid var(--lightgrey);
    border-radius: 25px;
}

main {
	margin: 10px 50px 20px 50px;
	display: flex;
	flex-flow:row wrap;
	justify-content: space-between;
}

/***************************logements*******************************/
.hébergement {
	display:flex;
	flex-flow: column wrap;
	width: 815px;
	height: 605px;
	background-color: var(--lightgrey);
	border-radius: var(--radius);
	margin-right: 20px;
}

.hébergement h2 {
	text-align: start;
	margin: 40px 0 0 40px;
	font-size: 1.25rem;
}

.encadre_log {
	display: flex;
	flex-flow: column wrap;
	height: 450px;
	width: 769px;
	margin: 5px 20px 0px 20px;
}

.encadre_loge {
	width: 220px;
	height: 185px;
	border-radius: var(--radius);
	border: solid 4px #FFFFFF;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 10px rgb(177 177 177 / 40%);
	margin:15px;
}

.hébergement .img {
	border-radius: var(--radius) var(--radius) 0 0;
	height: 115px;
	width: 100%;
}

.img_cann {
	background-image: url(hebergementxl/imgxl-cann.jpg);
}

.img_hmer {
	background-image: url(hebergementxl/hotelmerxl.jpg);
}

.img_hport {
	background-image: url(hebergementxl/hotelportxl.jpg);
}

.img_aub {
	background-image: url(hebergementxl/aubergepanxl.jpg);
}

.img_hmouettes {
	background-image: url(hebergementxl/hotelmouettesxl.jpg);
}

.img_amina {
	background-image: url(hebergementxl/hotelchezamxl.jpg);
}

.hébergement h3, .hébergement p {
	margin:5px 0 5px 0;
	color: black;
}

.hébergement h3, .hébergement p, .grade {
	margin-left: 10px;
}

.hébergement i {
	margin: 0;
	font-size: 13px;
}

.star_blue {
	color:var(--blue)
}

.star_grey {
	color: var(--grey);
}

.afficher-plus {
	margin: 20px 0 0 40px;
	font-weight: bolder;
	align-self: flex-start;
	color: black;
}

.hébergement .afficher_plus:hover {
	color: var(--blue);
}

/*****************************populaire********************************/
.logements_p {
	display:flex;
	flex-direction: column;
	width: 385px;
	height: 605px;
	background-color: var(--lightgrey);
	border-radius: var(--radius);
}

.logement_pt {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 40px;
}

.logements_p h2 {
	margin-bottom: 0px;
	font-size: 1.25rem;
}

.logement_pt i:hover{
	cursor: pointer;
	color: var(--blue);
}
.logements_b {
	display: flex;
	flex-direction: column;
	margin: 5px 20px 10px 20px;
}

.les_plus_pop {
	display: flex;
	height: 135px;
	width: 305px;
	border-radius: var(--radius);
	border:solid 4px #FFFFFF;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 10px rgb(177 177 177 / 40%);
	margin: 15px;
}
 .logements_p a {
	 display: flex;
	 flex-direction: row;
	 width: 100%;
 }

.img_plus_pop {
	border-radius: var(--radius) 0 0 var(--radius);
	height: 134px;
	width: 38%;
}

.information {
	width: 55%;
	height: 135px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.logements_p h3, .logements_p p {
	margin:5px 20px 5px 0px;
	color: black;
}

.logements_p h3, .logements_p p, .grades {
	margin-left: 15px;
	width: 95%;
}

.logements_p .grades {
	margin: 30px 0 0 15px;
	font-size: 13px;
}

.hotelsoleilxl {
	background-image: url(populairexl/hotelsoleilxl.jpg);
}

.coeurdeleauxl {
	background-image: url(populairexl/coeurdeleauxl.jpg);
}

.hotelbleuxl {
	background-image: url(populairexl/hotelbleuxl.jpg);
}



/**************************activité marseille*******************************/
.activité {
	width: 100%;
	height:500px;
	display:flex;
	flex-flow: column wrap;
	margin:40px 0  10px 0;
}

.activité_mars {
	display:flex;
	flex-flow: column wrap;
	align-content: space-between;
	height: 430px;
	width: 100%;
	margin-top: 20px;
}
.activité h2 {
	font-size: 1.25rem;
}

.activité h3 {
	margin: 20px 0 0 15px;
	color: black;
}

.activités_mars {
	border-radius: var(--radius);
	box-shadow: 5px 5px 10px rgb(177 177 177 / 40%);
}

.img_activités {
	border-radius: var(--radius) var(--radius) 0 0;
}

.activité_vieux_port {
	height:430px;
	width: 275px;
}

.vieuxportxl {
	background-image: url(activitexl/vieuxportxl.jpg);
	width: 100%;
	height: 380px;
	background-size: cover;
	background-position: top;
}



.activité_fort {
	height:215px;
	width: 280px;
	margin-bottom: 40px;
}

.img_fort {
	background-image: url(activitexl/fort.jpg);
	width: 100%;
	height: 165px;
	background-size: cover;
	background-position: bottom 265px center;
}

.activité_iles {
	height: 175px;
	width: 280px;
}

.img_iles {
	background-image: url(activitexl/img-ilexl.jpg);
	width: 100%;
	height: 125px;
	background-size: cover;
}

.activité_parc_national {
	height:430px;
	width: 280px;
}

.img_parc_national {
	background-image: url(activitexl/parc-calanquexl.jpg);
	width: 100%;
	height: 380px;
	background-size: cover;
	background-position: center;
}

.activité_notre_dame {
	height:190px;
	width: 280px;
	margin-bottom: 40px;
}

.img_notre_dame {
	background-image: url(activitexl/notre-damexl.jpg);
	width: 100%;
	height: 140px;
	background-size: cover;
}

.activité_parc_longchamp {
	height:200px;
	width: 280px;
}

.img_parc_longchamp {
	background-image: url(activitexl/parc-longchamp.jpg);
	width: 100%;
	height: 150px;
	background-size: cover;
}



/*******************************************Footer***************************************/
footer {
	display:flex;
	flex-direction: row;
	width: 100%;
	height: 216px;
	background-color: var(--lightgrey);
}

.column_footer a:hover {
	color: var(--blue);
}

footer h3 {
	margin-bottom: 15px;
	color: black;
}

footer ul {
	list-style: none;
	padding: 0;
}

.column_footer {
	padding: 30px 0 0 50px;
	margin-right: 200px;
}

.column_footer li {
	padding: 0 0 15px 0;
	font-size: 0.875rem;
}
.column_footer li a {
	color: black;
}


/***************************************mobile********************************/


@media only screen and (max-width: 722px) {
	html {
		overflow-x: hidden;
	}

	body {
		margin: 0;
		overflow-x: hidden;
	  }

	#logo {
		margin-top: 25px;
		margin-left: 5%;
		position: absolute;
		padding: 0;
	  }

	.navh {
		width: 100%;
		position: relative;
		flex-direction: column-reverse;
	  }

	nav ul {
		width: 100%;
		padding-left: 0;
		margin-right: 0;
	  }

	nav ul li {
		border-bottom: solid 2.5px var(--lightgrey);
		padding-bottom: 15px;
	  }

	  .menu {
		text-align: center;
		width: 100%;
		padding-bottom: 15px;
		padding-top: 25px;
	  }

	  .menu a:hover, nav ul li:hover {
		border-bottom: solid 2.5px var(--blue);
		border-top: solid 2.5px transparent;
		padding-bottom: 15px;
	  }

	  .lightblue_link {
		display: flex;
		justify-content: flex-end;
		width: 100%;

	  }

	  .signup {
		margin-right:3%;
	  }

	.signup:hover {
		border-top:transparent;
		color: var(--lightblue);
		text-shadow: 2px 2px 4px var(--blue);
		font-size: 1rem;
		transition: 1s;
	}

	#recherche {
		padding-left: 5%;
		padding-right: 5%;
		margin-right: 0px;
	}

	h1 {
		margin-right: 5%;
	}

	.recherche_ville{
		margin-top: 30px;
	}

	.recherche_ville form {
		width: 75%;
	}

	.button {
		width: 50px;
		height: 50px;
		margin-left: -10px;
		border-radius: 15px;
	}

	.button span {
		display: none;
	}

	.button i {
		visibility: visible;
		padding-right: 5px;
		width: 20%;
	}

	.filtres h3 {
		margin-bottom: 10px;
	}
	.filtres label {
		margin: 5px 10px 10px 0;
	}

	.info {
		margin: 20px 0 10px 0;
	}

	main {
		flex-direction: column;
		width: 100%;
		margin:0;
	}

	.hébergement h2, .activité h2 {
		margin: 40px 7% 30px 7%;
		font-size: 1.25rem;
		
	}

	.hébergement {
		width: 100%;
		height: initial;
		background-color: initial;
		margin: 0;
	}

	.encadre_log {
		width: 100%;
		flex-direction: column;
		align-items: center;
		height: initial;
		margin: 0;
	}

	.encadre_loge {
		width: 85%;
		height:200px;
		margin: 0 0 20px 0;
	}

	.logements_p {
		width: 100%;
		order: -1;
		align-items: center;
		height: initial;
		border-radius: initial;
		margin: 0;
	}

	.afficher_plus {
		margin-left: 7%;
		margin-top: 10px;
	}

	.logement_pt {
		justify-content: space-between;
		margin: 40px 0 30px 0;
		width: 85%;
	}

	.logements_b {
		width: 85%;
		height: initial;
		align-items: center;
		margin: 0;
	}

	.les_plus_pop {
		width: 100%;
		margin: 0 0 20px 0;
	}

	.activité {
		width: 100%;
		margin: 0;
		height: initial;
	}

	.activité_mars {
		flex-direction: column;
		width: 100%;
		align-content: center;
		height: initial;
		margin: 0;
	}

	.activité_vieux_port, .activité_fort, .activité_iles, .activité_parc_national, .activité_notre_dame, .activité_parc_longchamp {
		width: 85%;
		height: 192px;
		margin: 0 0 20px 0;
	}

	.vieuxportxl, .img_fort, .img_iles, .img_parc_national, .img_notre_dame, .img_parc_longchamp {
		height:134px;
		width: 100%;
		background-position: center;
	}

	footer {
		flex-direction: column;
		width: 100%;
		height: initial;
		padding-top: 20px;
	}
	.column_footer {
		margin: 30px 0 30px 20px;
		padding: 0;
	}
}

/***************************************tablette************************/
@media only screen and (min-width:723px) and (max-width:1024px) {
	.hébergement {
		width: 100%;
		height: initial;
		justify-content: space-between;
		align-items: center;
		margin: 0;
	}
	.encadre_log {
		width: 95%;
		justify-content: space-between;
		align-items: center;
		margin: 30px 0 10px 0;
	}

	.encadre_loge {
		width: 30%;
		margin: 0;
	}

	.afficher_plus {
		align-self: center;
		margin-bottom: 30px;
	}

	.logements_p {
		width: 100%;
		align-items: center;
		height: initial;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.logement_pt {
		margin:30px;
		width: 50%;
		justify-content: space-between;
	}

	.logements_b {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 95%;
	}

	.les_plus_pop {
		width: 90%;
		margin: 0 0 15px 0;
	}

	.img_plus_pop {
		width: 50%;
	}

	.information {
		width: 50%;
	}

	.activité {
		width: 100%;
		margin: 0;
		height: initial;
		align-items: center;
	}

	.activité h2 {
		margin-bottom: 30px;
	}

	.activité_mars {
		flex-direction: row;
		width: 100%;
		align-content: center;
		justify-content: space-between;
		height: initial;
		margin: 0;
	}

	.activité_vieux_port, .activité_fort, .activité_iles, .activité_parc_national, .activité_notre_dame, .activité_parc_longchamp {
		width: 31%;
		height: 192px;
	}

	.vieuxportxl, .img_fort, .img_iles, .img_parc_national, .img_notre_dame, .img_parc_longchamp {
		height:134px;
		width: 100%;
		background-position: center;	
	}

	.column_footer {
		margin-right: 5%;
	}
}

/***************************************petit écran************************/
@media only screen and (min-width:1025px) and (max-width: 1320px) {
	.hébergement {
		width: 100%;
		height: initial;
		justify-content: space-between;
		align-items: center;
		margin: 0;
	}

	.encadre_log {
		width: 95%;
		justify-content: space-between;
		align-items: center;
		margin: 30px 0 10px 0;
	}

	.encadre_loge {
		width: 30%;
		margin: 0;
	}

	.afficher_plus {
		align-self: center;
		margin-bottom: 30px;
	}

	.logements_p {
		width: 100%;
		height: initial;
		align-content: center;
		align-items: center;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.logement_pt {
		margin:30px;
		width: 30%;
	}

	.logements_b {
		flex-direction: row;
		justify-content: space-between;
		width: 95%;
	}

	.les_plus_pop {
		width: 31%;
		margin: 0 0 15px 0;
	}

	.activité {
		width: 100%;
		margin: 0;
		height: initial;
		align-items: center;
	}

	.activité h2 {
		margin-bottom: 30px;
	}

	.activité_mars {
		flex-direction: row;
		width: 100%;
		align-content: center;
		justify-content: space-between;
		height: initial;
		margin: 0;
	}

	.activité_vieux_port, .activité_fort, .activité_iles, .activité_parc_national, .activité_notre_dame, .activité_parc_longchamp {
		width: 31%;
		height: 192px;
	}

	.vieuxportxl, .img_fort, .img_iles, .img_parc_national, .img_notre_dame, .img_parc_longchamp {
		height:134px;
		width: 100%;
		background-position: center;
		
	}

	.column_footer {
		margin-right: 5%;
	}
}





